main {
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    flex-wrap: wrap;
}
nav {
    flex: 0 0 100%;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
  
li {
    float: left;
    border-right: 1px solid gray;
    border-left: 1px solid gray;
}
  
li:last-child {
    border-right: none;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
li a:hover:not(.active) {
    background-color: #111;
}
.active {
    background-color: orange;
    color: black;
}

article{
    flex: 0 0 100%;
    border: 1px solid gray;
}
header{
    flex: 0 0 100%;
}
form{
    flex-wrap: wrap;
}
form > div{
    flex: 0 0 100%;
}
footer{
    flex: 0 0 100%;
    text-align: center;
}
.boxok{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 300px;
}
.boxok > div {
    flex: 0 0 25%;
}
article>div {
    border: 1px solid gray;
}
