main {
    font-family: 'Times New Roman', Times, serif;
    max-width: 900px;
    width: 90%;
    margin: auto;
    background-color: lightgray;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
  
li {
    float: left;
    border-right: 1px solid gray;
    border-left: 1px solid gray;
}
  
li:last-child {
    border-right: none;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
}
  
li a:hover:not(.active) {
    background-color: #111;
}
  
.active {
    background-color: orange;
    color: black;
}

h1 {
    text-align: center;
}

article {
    border: 1px solid gray;
}

article>div {
    border: 1px solid gray;
}

footer {
    text-align: center;
}